<div class="my-3 my-md-5">
  <div class="container">
    <div class="page-header">
      <h1 class="page-title">
        Modifier Perk
      </h1>
      <div class="page-options d-flex">
        <%= link_to 'Retour', perks_path, class: "btn btn-secondary" %>
      </div>
    </div>
    <%= render 'form', perk: @perk %>
  </div>
</div>
