<!-- <div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">AH</h1>
        </div>
        <h3>Welcome to At Home Community</h3>
        <p>
            La communauté d'entrepreneurs.
        </p>
        
    </div>
</div> -->

<div class="page">
      <div class="page-single">
        <div class="container">
          <div class="row">
            <div class="col col-login mx-auto">
              <div class="text-center mb-6">
                <%= image_tag 'athome.png' %>
              </div>
              <form class="card" action="" method="post">
                <div class="card-body p-6">
                  <div class="card-title">Welcome to At Home</div>
                  <div class="form-footer">
                    <%= render "devise/shared/links" %>
                  </div>
                </div>
              </form>
              <div class="text-center text-muted">
                Copyright © 2018 <a href="https://athome-startup.fr">At Home Community</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
