<footer class="footer">
  <div class="container">
    <div class="row align-items-center flex-row-reverse">
      <div class="col-auto ml-lg-auto">
        <div class="row align-items-center">
          <div class="col-auto">
            <a href="https://github.com/jucdn/athome-startup" class="btn btn-outline-primary btn-sm" target="_blank"><i class="fa fa-github mr-2"></i>Contribuer</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
        Copyright © 2018 <a href="https://athome-startup.fr">At Home Community</a>
      </div>
    </div>
  </div>
</footer>
